.container{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: green;
    height: 100vh;
}
form{
    background-color: rgba(214, 214, 214, 0.656);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}