.container{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: green;
    height: 100vh;
}
.carte{
    width: 70vw;
    height: 60vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
form{
    background-color: rgba(214, 214, 214, 0.656);
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
.container .carte{
    display: flex;
}
.container .sign-in{
    background-color: red;
    padding: 30px;
    width: 300px;
    height: 400px;
    text-align: center;
}
.container .carte .sign-up{
    background-color: red;
    padding: 30px;
    width: 300px;
    height: 400px;
    text-align: center;
}
input{
    padding:7px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid rgb(4, 9, 115);

}